@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;
@using System.Collections.Generic;

<h1>Items for @User.Identity.Name</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

<p>To Do</p>
@foreach (Item item in Model.Where(item => item.IsComplete == false))
{
  @using (Html.BeginForm("MarkAsComplete", "Items"))
  { 
    <li>
      @Html.CheckBox("isComplete", item.IsComplete)
      @Html.Hidden("id", @item.ItemId )
      @Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) @item.Category.Name 
      @item.IsComplete
      <input type="submit" value="button"/>
    </li>
  }
}

<p>To Don't</p>
@foreach (Item item in Model.Where(item => item.IsComplete == true))
{
  @using (Html.BeginForm("MarkAsComplete", "Items"))
  { 
    <li>
      @Html.CheckBox("isComplete", item.IsComplete, new { value = "checked" })
      @Html.Hidden("id", @item.ItemId )
      @Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) @item.Category.Name 
      @item.IsComplete
      <input type="submit" value="button"/>
    </li>
  }
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>